@media (min-width: 100px) {
    .side-bar {
        width: calc((80% - 1064px) / 2 + 264px);
        min-width: 100px;
    }
}

h1, .text-aplha {
    font-size: 52px !important;
}

h3, .text-gamma {
    font-size: 20px !important;
}

body {
    font-size: 18px;
}

.lh-default {
    line-height: 1.8;
}